<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Stick&display=swap" rel="stylesheet">
	<title>Personalized Ordering Website!</title>
	<script src="/assets/js/burgers.js"></script>

	{{!-- make a sticky footer --}}
	<style>
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: red;
			color: white;
			text-align: center;
		}
	</style>

</head>

<body>

	{{{ body }}}

	{{!-- added a wrapper div to make the footer sticky --}}
	<div class="footer">
		<footer class=" center footer">
			<div class="container">
				<p> Made with <i class="fas fa-heart"></i> copyright © Personalized Ordering App 2021 </p>
			</div>
		</footer>
	</div>
</body>
<script src="https://kit.fontawesome.com/7c715641eb.js" crossorigin="anonymous"></script>

</html>







{{!-- to delete --}}
{{!--
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Hamburgers!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	{{{ body }}}


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html> --}}