<!-- Page to display users cart/ take CC info in dummy form,
 and display placed order info and give option to return to home screen -->
<style>
    .checkout {
        background-image: url("/images/fast.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="checkout">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
            {{>user/cart_view}}
        </div>
    </div>
</div>