/* * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

/* .nav {
  margin-left: 2%;
  width: 100vw;
} */
.navbar {
  margin-bottom: 2rem;
  /* background-color: white; */
  background-color: #dfe237;
}
.navbar-brand {
  font-family: "Vidaloka", serif;
  font-size: 16pt;
  color: #495057;
}
.nav-link,
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  font-size: 11pt;
  color: #495057;
 
}
.navbar-brand:hover {
  color: #495057;
}
.nav-link:hover {
  color: #d90429;
  transform: scale(1.3);
}
li {
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
}
.card-header {
  font-family: "Vidaloka", serif;
  font-size: 14pt;
}
.card {
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 25px;
}

#line1 {
  margin-left: 70px;
}
.mick {
  background-image: url("../img/fast.png");
  background-position: right center;
}

/* left top
left center
left bottom
right top
right center
right bottom
center top
center center
center bottom */

.personalNote{
    margin-left: 150px;
    margin-bottom: 10px;
}
#jumbo {
  font-size: 56pt;
  color: white;
  font-family: "Vidaloka", serif;
  height: 25vh;
  width: 100vw;
  margin-top: 0%;
  margin-left: 0%;
  /* background-image: url("./public/assets/img/fast.png"); */
  /* background-color: rgb(247, 220, 68); */
  text-align: center;
  padding-top: 50px;
}

span {
  font-family: "Vidaloka", serif;
  color: #d90429;
  font-weight: 400;
}
.textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.card-header {
  text-align: center;
  /* background-color: lightcoral; */
  background-color: #dfe237;
  
}

.btn {
  float: right;
}

.personalNote {
  margin-left: 150px;
  margin-bottom: 10px;
}
label,
input {
  font-family: "Montserrat", sans-serif;
}
.ordercontainer {
  height: auto;
  background-color: rgb(247, 247, 247);
  margin-left: 30px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: rgb(224, 224, 224);
}

.location{
    margin-left: 30px;
}

.locationbknd{
    background-color: rgb(247, 220, 68);
    width: 100%;
    margin-left: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(224, 224, 224);
    padding: 10px;
}

#map{
    height: 400px;
    width: 800px;
    align-items: center;
    margin-left: 20%;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(116, 116, 116);
}

#submitBtn {
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}
