{{!--
<!DOCTYPE html>
<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Choose Your restaurant </h1>
        <p class="lead">what ?</p>
    </div>
    <img src="../assets/img/Burger_Town_logo_MW2.png" style="width:20rem" alt="A picture of a juicy" />
</div>

<div class="container">
    <div class="row">
        <div class="card text-center" style="width:30rem">
            <div class="col-lg-6">
                <img src="../assets/img/juicyburger.jpg" class="card-img-top" alt="A picture of a juicy" />
                <div class="card-body">
                    <h2>Burger is Saved</h2>
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block }}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>



        <div class="card" style="width: 30rem">
            <div class="col-lg-6">
                <img src="../assets/img/JuicyHamburgers7.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h2>Burger is Devoured!</h2>

                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block }}
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<h2>Eat a Burger</h2>
<form id="create-form">

    <div class="form-group">
        <p>Type a burger</p>
        <label for="br">Burger:</label>

        <input type="text" id="br" name="name">
        <button type="submit">Add Burger</button>
    </div>



</form> --}}


{{!-- <div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">welcome rajahni <br>
            Choose Your restaurant</h1>
        <p class="lead">What you would like to eat?</p>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="public/assets/img/McDonalds.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Mcdonald</h5>
                    <p class="card-text">Get some awesome Mcdonald food!!</p>
                    <a href="#" class="btn btn-primary">EAT Mcdonald!</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="public/assets/img/Shoyu_Ramen.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Ramen</h5>
                    <p class="card-text">Get some awesome Ramen!!</p>
                    <a href="#" class="btn btn-primary">EAT Ramen!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="public/assets/img/sushiplatters.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Sushi</h5>
                    <p class="card-text">Get some tasty Sushi!!</p>
                    <a href="#" class="btn btn-primary">Go Sushi!</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem">
            <img src="public/assets/img/taco-bell.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Taco Bell</h5>
                <p class="card-text">Get some awesome Taco Bell!!</p>
                <a href="#" class="btn btn-primary">Go Taco Bell!</a>
            </div>
        </div>
    </div>
</div> --}}