

.nav{
    margin-left: 2%;
    width: 100vw;
}

#jumbo{
    height: 25vh;
    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    background-color: yellow;
    text-align: center;
    padding-top: 50px;
}
#line1{
    /* display: inline-block; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
#line2{
    /* display: inline-block; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
#line3{
    /* display: inline-block; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
#line4{
    /* display: inline-block; */
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    float: left;
}
.card-header{
    text-align: center;
}

.btn{
    float: right;
}