*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav{
    margin-left: 2%;
    width: 100vw;
}

.card{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

#line1{
    margin-left: 70px;
}

#jumbo{
    height: 25vh;
    width: 100vw;
    margin-top: 0%;
    margin-left: 0%;
    background-color: rgb(247, 220, 68);
    text-align: center;
    padding-top: 50px;
}

span{
    color: red;
    font-weight: 400;
}
.textarea {
    width: 90%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.card-header{
    text-align: center;
    background-color: lightcoral;
}

.btn{
    float: right;
}


.personalNote{
    margin-left: 150px;
    margin-bottom: 10px;

    
}

.ordercontainer{
    width: 100vw;
    height: auto;
    background-color: rgb(247, 247, 247);
    margin-left: 30px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgb(224, 224, 224);
}


#submitBtn{
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: inline-block;  
    position: relative;  
}

#map{
    height: 400px;
    width: 400px;
    margin-left: 37%;
}

