<style>
    body {
        background-image: url("./fast.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1200px;
    }

    .card {
        background: transparent
    }

    h5,
    h1 {
        color: rgb(131, 58, 180);

    }

    p {
        color: white
    }
</style>

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome $(".member-name") <br>
            Choose Your restaurant</h1>
        <p class="lead">What you would like to eat?</p>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="McDonalds.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Mcdonald</h5>
                    <p class="card-text">Get some awesome Mcdonald food!!</p>
                    <a href="page3_checkout" class="btn btn-primary">EAT Mcdonald!</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="Shoyu_Ramen.jpg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Ramen</h5>
                    <p class="card-text">Get some awesome Ramen!!</p>
                    <a href='' class="btn btn-primary">EAT Ramen!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem">
                <img src="sushiplatters.png" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Sushi</h5>
                    <p class="card-text">Get some tasty Sushi!!</p>
                    <a href="#" class="btn btn-primary">Go Sushi!</a>
                </div>
            </div>
        </div>

        <div class="card" style="width: 18rem">
            <img src="taco-bell.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title">Taco Bell</h5>
                <p class="card-text">Get some awesome Taco Bell!!</p>
                <a href="#" class="btn btn-primary">Go Taco Bell!</a>
            </div>
        </div>
    </div>
</div>