<a href="/">homepage</a>
{{!--
<button onclick="homePage">logout</button>
<script>
  homePage(){
    window.location = '/'
  }
</script> --}}
{{!-- font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Stick', sans-serif;
font-family: 'Vidaloka', serif; --}}

<style>
  body {
    background-image: url("fast.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }

  #titl-1,
  .fas {
    color: whitesmoke;
    font-family: 'Vidaloka', serif;
  }

  #par {
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;

  }

  #sign {
    text-align: center;
    color: whitesmoke;
    margin-top: 26%;
    text-decoration: none;
  }

  .row {
    margin-top: 100px;
  }

  .jumbotron {
    text-align: center;
  }


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="jumbotron jumbotron-fluid">
          <h1 id="titl-1" class="display-4">Welcome to yourEats!</h1>
          <p id="par" class="lead">Where We're Always in the Mood for Food</p>
          <i class="fas fa-hamburger fa-10x"></i>

        </div>
      </div>
      <div class="col-5">
        <div class="card card-body">
          <h3 class="text-center">
            Login
          </h3>
          <form action="/users/login" method="post">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div>
      <h5 id="sign" class="text-center">
        New User? Please <a href="/users/register">sign up <i class="fa fa-external-link-square"
            aria-hidden="true"></i></a>
        to register
      </h5>
    </div>
  </div>
</body>